---
import '../styles/gioithieu.css';

const columns = [
  {
    icon: "/img/iconngoinha.png",
    alt: "Home Icon",
    title: "Thành Lập",
    content: "25/02/2014",
    class: "left-column"
  },
  {
    icon: "/img/iconhoatdong.png",
    alt: "Activity Icon",
    title: "Hoạt Động",
    content: `Lĩnh vực truyền thông quảng cáo, software, xúc tiến thương mại, tổ chức sự kiện, sản xuất chương trình truyền hình, dịch vụ ẩm thực, sản xuất quà tặng,…`,
    class: "right-column",
    withLineBreak: true
  }
];
---

<section id="gioithieu" class="gioithieu">
  <h2 class="gioi-thieu-title">Giới Thiệu</h2>

  <div class="gioi-thieu-columns">
    {columns.map((col) => (
      <div class={col.class}>
        <img src={col.icon} alt={col.alt} class="icon" />
        <h2>{col.title}</h2>
        <p>
          {col.withLineBreak && <br />}
          {col.content}
        </p>
      </div>
    ))}
  </div>
</section>
