---
import '../styles/sukien.css';

const events = [
  {
    img: "/img/internation_events/vientrangphucViet_23_2_1.jpg",
    alt: "Sự kiện Viện Trang phục Việt ngày 23/2",
    href: "http://ngaymoisaigon.com/5519-Nha-Thi%E1%BA%BFt-k%E1%BA%BF-Le-Si-Hoang-tham-gia-ban-giam-kh%E1%BA%A3o-cu%E1%BB%99c-thi-Miss-Heritage-International-2019",
    caption: "Nhà Thiết Kế Lê Sĩ Hoàng Tham Gia Ban Giám Khảo Cuộc Thi Miss Heritage International 2019 (23/02/2020)"
  },
  {
    img: "/img/internation_events/Viet_nhat.jpg",
    alt: "Giao lưu văn hóa Việt - Nhật",
    href: "http://ngaymoisaigon.com/2442-K%E1%BA%BFt-n%E1%BB%91i-giao-thuong-doanh-nghi%E1%BB%87p-Vi%E1%BB%87t-Nh%E1%BA%ADt",
    caption: "Kết Nối Giao Thương Doanh Nghiệp Việt- Nhật (30/8/2018)"
  },
  {
    img: "/img/internation_events/Dai_Dong_Du_lich_Viet.jpg",
    alt: "Đại hội Đông Du - Du lịch Việt Nam",
    href: "http://ngaymoisaigon.com/1563-Dai-Dong-giao-luu-v%E1%BB%9Bi-doan-nha-bao-va-cong-ty-Du-l%E1%BB%8Bch-Vi%E1%BB%87t-Nam",
    caption: "Đài Đông Giao Lưu Với Đoàn Nhà Báo Và Công Ty Du Lịch Việt Nam (29/11/2017)"
  },
  {
    img: "/img/internation_events/chao_don_le_hoi_am_thuc_My.jpg",
    alt: "Chào đón lễ hội ẩm thực Mỹ",
    href: "http://ngaymoisaigon.com/733-Chao-don-L%E1%BB%85-h%E1%BB%99i-%E1%BA%A8m-th%E1%BB%B1c-M%E1%BB%B9",
    caption: "Chào Đón Lễ Hội Ẩm Thực Mỹ (09/07/2016)"
  },
  {
    img: "/img/internation_events/hoi_nghi_thuong_dinh_phu_nu_toan_cau.jpg",
    alt: "Hội nghị thượng đỉnh phụ nữ toàn cầu",
    href: "http://ngaymoisaigon.com/698-H%E1%BB%99i-ngh%E1%BB%8B-Thu%E1%BB%A3ng-d%E1%BB%89nh-Ph%E1%BB%A5-n%E1%BB%AF-Toan-c%E1%BA%A7u-l%E1%BA%A7n-th%E1%BB%A9-26",
    caption: "Hội Nghị Thượng Đỉnh Phụ Nữ Toàn Cầu Lần Thứ 26 (17/06/2016)"
  },
  {
    img: "/img/internation_events/hoi_nghi_invest_asean_2015.jpg",
    alt: "Hội nghị Invest ASEAN 2015",
    href: "http://ngaymoisaigon.com/89-H%E1%BB%99i-Ngh%E1%BB%8B-Invest-Asean-2015-t%E1%BA%A1i-Vi%E1%BB%87t-Nam",
    caption: "Hội Nghị Invest Asean 2015 Tại Việt Nam (04/06/2015)"
  }
];
---

<section id="gioi-thieu" class="gioi-thieu">
  <h2 class="su-kien-title">Sự Kiện Quốc Tế</h2>
  <div class="images-sukienquocte">
    {events.map((event, index) => (
      <div class="image-sukienquocte" key={event.href}>
        <a href={event.href} target="_blank">
          <img src={event.img} alt={event.alt} />
          <p class="caption">{event.caption}</p>
        </a>
      </div>
    ))}
  </div>
</section>
